#main-container {
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar {
	margin-bottom: 0;

	.container-fluid {
  		max-width: 1200px;
  		margin: 0px auto;
	}
}

.jaddit {
	font-family: Volkhov;
	font-weight: bold;
}

.page-header {
	margin-top: 0;
	padding-bottom: 0;
}

.thread-message {
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 10px;

	&.hilight {
		background: #f7f6cf;
	}

	.title {
		margin: 8px 0 12px 0;
		font-size: 20px;
		font-weight: bold;
	}

	@for $i from 2 through 10 {
		&.level-#{$i} {
			margin-left: #{$i * 30 - 30}px;
		}
	}

	.info {
		margin-bottom: 5px;

		.name {
			font-weight: bold;
		}

		.time {
			float: right;
		}
	}

	.tools {
		margin-top: 5px;

		a {
			font-size: 12px;
			margin-right: 5px;
		}
	}
}


#filter-options {
	margin-bottom: 30px;
	padding: 0;

	.row {
		padding-left: 0;
	}

	h5 {
		margin: 0 0 3px 0;
	}

	ul {
		list-style-type: none;
		padding: 0;

		li {
			display: inline-block;
			padding: 3px 0;

			a {
				display: inline-block;
				padding: 5px 4px;
				background: #428BCA;
				border-radius: 5px;
				color: white;
				min-width: 50px;
				text-align: center;

				&:hover {
					text-decoration: none;
				}
			}

			&.selected {
				padding: 0;

				a {
					color: white;
					background: #285E8E;
					padding: 7px 8px;
				}
			}
		}
	}
}

#threads {
	margin-top: 20px;

	.category {
		width: 130px;
	}

	.first, .last {
		width: 130px;

		small {
			letter-spacing: -0.5px;
		}
	}

	.count {
		width: 70px;
	}

	.percent {
		width: 70px;
	}
}

.container {
	padding: 0;
}

#user-info {
	td:first-child {
		width: 200px;
	}
}

#user-messages {
	.is-thread-start {
		width: 80px;
	}

	td.is-thread-start {
		text-align: center;	
	}

	.category {
		width: 200px;
	}

	.title {
		width: 300px;
	}

	.time {
		width: 160px;
	}
}

#admin-cats {
	width: 300px;

	td {
		text-align: center;

		&.remove, &.up, &.down {
			width: 30px;
		}
	}
}

#new-thread {
	textarea {
		resize: vertical;
	}

	button {
		float: right;
	}
}