{% for error in errors %}
	<div class="alert alert-danger" role="alert">
		<strong>Virhe!</strong> {{error}}!
	</div>
{% endfor %}

<form action="{{base_path}}/ketju/{{thread.id}}/muokkaa/{{message.id}}" method="post">
	<input type="hidden" name="form-thread-id" value="{{thread.id}}" />
	<input type="hidden" name="form-message-id" value="{{message.id}}" />

	<div class="form-group">
		<label for="form-message">Viesti</label>
		<textarea class="form-control {% if focus %}focus{% endif %}" id="form-message" name="form-message" rows="5">{% if msg %}{{msg}}{% else %}{{message.message}}{% endif %}</textarea>
	</div>
	<div class="form-group">
		<button class="btn btn-primary" name="form-submit">Muokkaa</button>
	</div>
</form>