<a name="viesti-{{message.id}}" />
<div class="thread-message level-{{message.depth + additional_depth}} {% if hilight  %}hilight{% endif %}">
	{% if is_first %}
		<h3 class="title">
			<a href="{{base_path}}">Keskustelu</a>
			/
			<a href="{{base_path}}/?category={{thread.category.simplename}}">{{thread.category.name}}</a>
			/
			<a href="{{base_path}}/ketju/{{thread.id}}">{{thread.title}}</a>
		</h3>
	{% endif %}
	<div class="info">
		<span class="name"><a href="{{base_path}}/jasen/{{message.user.id}}">{{message.user.name}}</a></span>
		<span class="time">{{message.sent|date("d.m. Y H:i:s")}}</span>
	</div>
	<div class="text">
		{{p(message.message)|raw}}
	</div>
	<div class="tools">
		{% if not is_first and not lite  %}
			{% if replyId != message.id and user %}
				<a href="{{base_path}}/ketju/{{thread.id}}/vastaa/{{message.id}}#viesti-{{message.id}}">Vastaa tähän</a>
			{% endif %}
			<a href="{{base_path}}/viesti/{{message.id}}#viesti-{{message.id}}">Linkki</a>
		{% endif %}
	</div>
</div>

{% if user and replyId == message.id %}
	<div class="level-{{message.depth + additional_depth}}">

		{% if parent_id == message.id %}
			{% for error in errors %}
				<div class="alert alert-danger" role="alert">
					<strong>Virhe!</strong> {{error}}!
				</div>
			{% endfor %}
		{% endif %}

		{% include 'partial/reply-form.html' with { reply_id: message.id, focus: true } %}
	</div>
{% endif %}