<table class="table" id="threads">
<tr>
	<th class="category">Alue</th><th class="title">Aihe</th><th class="first">Aloitus</th><th class="last">Viimeisin</th><th class="count">Vastauksia</th><th class="percent">Lukenut</th>
</tr>

{% for thread in threads %}
<tr>
	<td class="category"><a href="{{base_path}}//?category={{thread.category.id}}">{{thread.category.name}}</a></td>
	<td class="title"><a href="{{base_path}}/ketju/{{thread.id}}">{{thread.title}}</a></td>
	<td class="first"><div><a href="{{base_path}}/jasen/{{thread.first_message.user.id}}">{{thread.first_message.user.name}}</a></div><small>{{thread.first_message.sent|date("d.m. Y H:i:s")}}</small></td>
	<td class="last"><div><a href="{{base_path}}/jasen/{{thread.last_message.user.id}}">{{thread.last_message.user.name}}</a></div><small>{{thread.last_message.sent|date("d.m. Y H:i:s")}}</small></td>
	<td class="count">{{thread.message_count - 1}} {{thread.participated}}</td>
	<td class="percent">
		<a href="#" data-size="40" data-read="{{thread.hasRead(user)}}" data-percent="{{thread.read_percent}}" class="read-percent">{{thread.read_percent * 100 | round(0, 'floor')}}%</a>
	</td>
</tr>
{% endfor %}

</table>