#main-container {
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid {
  max-width: 1200px;
  margin: 0px auto;
}

.message {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
}

.message.level-2 {
	margin-left: 30px;
}

.message.level-3 {
	margin-left: 60px;
}

.message .info {
	margin-bottom: 5px;
}

.message .info .name {
	font-weight: bold;
}

.message .info .time {
	float: right;
}

#categories {
	margin-left: 20px;
	margin-bottom: 30px;
}

#categories ul {
	list-style-type: none;
	padding: 0;
}

#categories ul li {
	display: inline-block;
	background: #eee;
	border: 1px solid #ccc;
	padding: 3px 6px;
	border-radius: 5px;
}

#categories ul li.selected {
	background: #fee;
}

#threads {
	margin-left: 20px;
}

#threads tr td:last-child {
	amax-width: 100px;
}