#main-container {
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar {
	margin-bottom: 0;
}

h1 {
	font-size: 30px;
}

.page-header {
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 10px;
}

.navbar .container-fluid {
  max-width: 1200px;
  margin: 0px auto;
}

.message {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
}

.message.level-2 {
	margin-left: 30px;
}

.message.level-3 {
	margin-left: 60px;
}

.message .info {
	margin-bottom: 5px;
}

.message .info .name {
	font-weight: bold;
}

.message .info .time {
	float: right;
}

#filter-options .descending {
	margin-left: 15px;
}

#filter-options {
	margin-bottom: 30px;
}

#filter-options h5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

#filter-options ul {
	list-style-type: none;
	padding: 0;
}

#filter-options ul li {
	display: inline-block;
}

#filter-options ul li a {
	display: inline-block;
	padding: 6px 4px;
	background: #428BCA;
	border-radius: 5px;
	color: white;
}

#filter-options ul li a:hover {
	text-decoration: none;
}

#filter-options ul li.selected {
	padding: 0;
}

#filter-options ul li.selected a {
	color: white;
	background: #285E8E;
	padding: 10px 8px;
}

#threads {
	margin-left: 20px;
}

#threads tr td:last-child {
	amax-width: 100px;
}

#threads .category {
	width: 150px;
}

#threads .first, #threads .last {
	width: 200px;
}

#threads .count {
	width: 100px;
}

#threads .percent {
	width: 100px;
}