<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %}
        jaddit {% if title %}/ {{title}}{% endif %}
      {% endblock %}
    </title>

    {% block head %}
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet"> 
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="{{base_path}}"><span class="jaddit">jaddit</span></a>
        </div>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav">
            {% if user %}
              <li><a href="{{base_path}}">Etusivu</a></li>
              <li><a href="{{base_path}}/jasen/kaikki">Jäsenet</a></li>
              {% if user.admin %}<li><a href="{{base_path}}/hallinta">Hallinta</a></li>{% endif %}
            {% endif %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user %}
              <li><a href="{{base_path}}/jasen/{{user.id}}"><span class="glyphicon glyphicon-user"></span> {{user.name}}</a></li>
              <li><a href="{{base_path}}/ulos"><span class="glyphicon glyphicon-log-out"></span> Kirjaudu ulos</a></li>
            {% else %}
              <li><a href="{{base_path}}/liity"><span class="glyphicon glyphicon-user"></span> Rekisteröidy</a></li>
              <li><a href="{{base_path}}/kirjaudu"><span class="glyphicon glyphicon-log-in"></span> Kirjaudu</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div id="main-container">
      <div class="page-header">
        <h1><span class="jaddit">jaddit</span> - keskustelufoorumi</h1>
      </div>
      {% block content %}{% endblock %}
    </div>

    {% block body %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="{{base_path}}/assets/js/site.js"></script>
    {% endblock %}
  </body>
</html>
