{% extends "base.html" %}

{% block content %}
	<div class="container" id="filter-options">
		<div class="row">
			<div class="col-md-12">
				<h5>Alueet</h5>

				<div id="categories">
					<ul>
						{{
							url_format(base_path, default, {
								'alue': cat_selected,
								'jarjesta': order_selected,
								'tyyppi': type_selected,
								'aika': time_selected
							})
						}}

						{% for cat in cats %}
							<li class="{% if cat_selected == cat.id %}selected{% endif %}">
								<a href="{{  url({'alue': cat.id}) }}">{{cat.name}}</a>
							</li>	
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-5">
				<h5>Aloitettu</h5>

				{% set times = {'kaikki': 'Milloin tahansa', 'kuukausi': 'Viimeinen kuukausi', 'viikko': 'Viimeinen viikko', 'päivä': 'Viimeinen päivä'} %}

				<ul>
					{% for key, time in times %}
					<li class="{% if time_selected == key %}selected{% endif %}">
						<a href="{{  url({'aika': key}) }}">{{time}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h5>Järjestys</h5>

				{% set orders = ['Aloitus', 'Viimeisin', 'Viestejä', 'Luettu'] %}

				<ul>
					{% for order in orders %}
					<li class="{% if order_selected == order|lower %}selected{% endif %}">
						<a href="{{  url({'jarjesta': order|lower}) }}">{{order}}</a>
					</li>
					{% endfor %}

					<li class="descending {% if type_selected == 'laskeva' %}selected{% endif %}">
						<a href="{{  url({'tyyppi': 'laskeva'}) }}">
							<span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span> Laskeva
						</a>
					</li>
					<li class="ascending {% if type_selected == 'nouseva' %}selected{% endif %}">
						<a href="{{  url({'tyyppi': 'nouseva'}) }}">
							<span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span> Nouseva
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<h3>Keskustelut</h3>

	{% include 'threads-table.html' %}

{% endblock %}
