<table class="table" id="threads">
<tr>
	<th class="category">Alue</th><th class="title">Aihe</th><th class="first">Aloitus</th><th class="last">Viimeisin</th><th class="count">Viestejä</th><th class="percent">Luettu</th>
</tr>

{% for thread in threads %}
<tr>
	<td class="category"><a href="{{base_path}}/alue/{{thread.category.id}}">{{thread.category.name}}</a></td>
	<td class="title"><a href="{{base_path}}/ketju/{{thread.id}}">{{thread.title}}</a></td>
	<td class="first"><div><a href="{{base_path}}/kayttaja/{{thread.first_message.user.id}}">{{thread.first_message.user.name}}</a></div><small>{{thread.first_message.sent|date("d.m. Y H:i:s")}}</small></td>
	<td class="last"><div><a href="{{base_path}}/kayttaja/{{thread.last_message.user.id}}">{{thread.last_message.user.name}}</a></div><small>{{thread.last_message.sent|date("d.m. Y H:i:s")}}</small></td>
	<td class="count">{{thread.message_count}}</td>
	<td class="percent"><a href="#" data-percent="{{thread.read_percent}}">{{thread.read_percent * 100 | round(0, 'floor')}}%</a></td>
</tr>
{% endfor %}

</table>