{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				{% include 'partial/message.html' with {is_first: true } %}

				{% include 'partial/reply-form.html' %}

				{% for message in messages %}
					{% include 'partial/message.html' %}
				{% endfor %}
			</div>
			<div class="col-md-4">
				<span data-size="60" data-percent="{{thread.read_percent}}" class="read-percent">{{thread.read_percent * 100 | round(0, 'floor')}}%</span>
			</div>
		</div>
	</div>
{% endblock %}
