{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				{% include 'partial/message.html' with {is_first: true } %}

				{% if parent_id == message.id %}
					{% for error in errors %}
						<div class="alert alert-danger" role="alert">
							<strong>Virhe!</strong> {{error}}!
						</div>
					{% endfor %}
				{% endif %}

				{% if user %}
					{% include 'partial/reply-form.html' with { reply_id: message.id } %}
				{% endif %}

				{% for message in messages %}
					{% include 'partial/message.html' %}
				{% endfor %}
			</div>
			<div class="col-md-4">
				{% set percent = thread.getReadPercent() %}

				<span data-size="60" data-read="1" data-percent="{{percent}}" class="read-percent">{{percent * 100 | round(0, 'floor')}}%</span>
			</div>
		</div>
	</div>
{% endblock %}
