{% extends "base.html" %}

{% block content %}
	<h3>Käyttäjä: {{view_user.name}}</h3>
	<table class="table" id="user-info">
		<tr>
			<td>Rekisteröitynyt</td><td>{{view_user.registered|date('d.m. Y')}}</td>
		</tr>
		<tr>
			<td>Ylläpitäjä</td><td>{{view_user.admin ? 'Kyllä' : 'Ei'}}</td>
		</tr>
	</table>

	<h4>Viestit</h4>

	{% if data|length == 0 %}
		<p>Ei viestejä</p>
	{% else %}
	<table class="table" id="user-messages">
		<tr>
			<th class="is-thread-start">Aloitus</th>
			<th class="title">Aihe</th>
			<th class="message">Viesti</th>
			<th class="category">Alue</th>
			<th class="time">Aika</th>
		</tr>
	{% for d in data %}
		<tr>
			<td class="is-thread-start">
			{% if d.t_is_start %}
			<span class="glyphicon glyphicon-ok"></span>
			{% else %}
			-
			{% endif %}
			</td>
			<td>
				<a href="{{base_path}}/ketju/{{d.t_id}}">{{d.t_title}}</a>
			</td>
			<td>
				<a href="{{base_path}}/ketju/{{d.t_id}}#viesti-{{d.m_id}}">{{d.m_preview}}</a>
			</td>
			<td>
				<a href="{{base_path}}/?category={{d.c_id}}">{{d.c_name}}</a>
			</td>
			<td>
				{{d.m_sent|date("d.m. Y H:i:s")}}
			</td>
		</tr>
	{% endfor %}
	</table>

	{% endif %}


{% endblock %}
